.post-section__content {
	display: flex;
	flex-wrap: wrap;
}

.section-title {
	margin-left: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #4a4a4a;
}

.post {
	display: flex;
	align-items: center;
	border: 1px solid rgba(0, 0, 0, .5);
	width: 500px;
	padding: 10px;
	box-shadow: 0 0 16px rgba(0, 0, 0, .5);
	border-radius: 4px;
	margin-bottom: 20px;
	margin-left: 20px;
}

.img-thumb {
	width: 200px;
	height: 200px;
	margin-right: 20px;
}

.img-thumb img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.content {
	flex: 1;
}

.content p.title {
	margin: 0;
	font-size: 20px;
	font-weight: bold;
	color: #3d4a6e;
	margin-bottom: 16px;
	cursor: pointer;
}

.content p.title:hover {
	color: #687aac
}

.content p.desc {
	text-indent: 1rem;
	text-align: justify;
	margin: 0;
	font-size: 16px;
	color: #4a4a4a;
}

.content button.delete-btn,
.content button.update-btn {
	margin-top: 1rem;
	color: white;
	outline: none;
	padding: .5rem 1rem;
	cursor: pointer;
	border: unset;
	border-radius: 2px;
	letter-spacing: .5px;
	font-weight: 200;
}

.content button.delete-btn {
	background-color: #be2b2b;
	margin-right: 1rem;
}

.content button.update-btn {
	background-color: #2bbe79;
	padding: .5rem 1.5rem;
}

.content button.delete-btn:hover {
	background-color: #d13333;
}

.content button.update-btn:hover {
	background-color: hsl(152, 63%, 41%);
}

.form-add-post {
	box-shadow: 0 0 16px rgba(0, 0, 0, .5);
	width: 500px;
	margin-left: 20px;
	padding: 10px;
	margin-top: 2rem;
	margin-bottom: 50px;
	border-radius: 4px;
}

.form-add-post label {
	display: block;
	font-size: 14px;
	color: #607d8b;
	font-weight: bold;
	margin-bottom: 10px;
}

.form-add-post input,
.form-add-post textarea {
	outline: none;
	border: 1px solid #607d8b;
	padding: 12px;
	border-radius: 4px;
	margin-bottom: 20px;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	color: #607d8b;
}

.form-add-post input::placeholder,
.form-add-post textarea::placeholder {
	letter-spacing: 2px;
	color: hsl(0, 0%, 70%);
}


.btn-submit {
	outline: unset;
	padding: .7rem 1.5rem;
	border-radius: 4px;
	background-color: slateblue;
	color: white;
	font-size: .8rem;
	text-transform: uppercase;
	border: none;
	letter-spacing: 2px;
	cursor: pointer;
}

.btn-submit:hover {
	background-color: #4b3abb;
}


@media only screen and (max-width:1200px) {}