.header {
	background: #68c93e;
	display: flex;
	width: 400px;
	justify-content: space-between;
	padding: 20px;
	box-sizing: border-box;
	margin-bottom: 40px;
}

.troley {
	position: relative;
}

.troley img {
	width: 30px;
}

.count {
	background: #2d3c8d;
	padding: 10px;
	border-radius: 50%;
	min-width: 10px;
	height: 10px;
	line-height: 10px;
	text-align: center;
	color: white;
	font-size: 11px;
	position: absolute;
	bottom: -8px;
	left: -13px;
}

.card {
	border: 1px solid rgba(0, 0, 0, 0.23);
	padding: 10px;
	width: 320px;
	border-radius: 4px;
}

.card .product-title {
	font-size: 16px;
	font-weight: 600;
}

.card .product-price {
	font-size: 18px;
	color: salmon;
	font-weight: 700;
	margin-top: 0;
}

.counter {
	display: flex;
	justify-content: space-between;
	height: 40px;
}

.counter input {
	flex: 1;
	text-align: center;
	margin: 0 10px;
	font-size: 16px;
	font-weight: 500;
}

.counter .minus,
.counter .plus {
	background-color: #2d3c8d;
	font-size: 20px;
	color: white;
	cursor: pointer;
	width: 40px;
	border-image: unset;
	border-style: unset;
	border-radius: 4px;
}

.counter .minus:hover,
.counter .plus:hover {
	background-color: hsl(231, 52%, 46%)
}

.counter .minus:focus,
.counter .plus:focus {
	outline: unset;
}